body{
	margin:0 0 0 0;
	background-color:#fbfbfb;
	color:#333333;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#topo{
	background-color:#f1f1f1;
	width:100%;
	height:60px;
	border-bottom:2px solid #e8e8e8;
	position:absolute;
	top:0px;
}
a{
	color:#666666;
	margin-right:5px;
	margin-top:15px;
	font-size:19px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

#erro{
	background-color:#CCCCCC;
	width:400px;
	height:20px;
	padding-left:5px;
	padding-right:5px;
	top:60%;
	color:#FFFFFF;
	left:50%;
	margin-left:-200px;
	position:absolute;
	
	

}

#boxHome{
	background-color:#f8f8f8;
	width:1000px;
	height:220px;
	left:50%;
	color:#333333;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	top:20%;
	font-size:14px;
	margin-left:-500px;
	position:absolute;
}
#boxSignup{
	background-color:f8f8f8;
	width:450px;
	height:400px;
	float:left;
	margin-left:20px;
	
}
#boxLogin{
	background-color:f8f8f8;
	width:450px;
	height:400px;
	float:left;
	margin-left:80px;
	
}

#boxSignup form input{
	background-color:#f3f2f2;
	font-size:18px;
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	-webkit-border-radius: 30px;
    -moz-border-radius: 10px;
	border-radius:10px;  
}

#boxSignup form input:hover{
	background-color:#fff;
}
#boxLogin form input:hover{
	background-color:#fff;
}
#boxLogin form input{
	background-color:#f3f2f2;
	font-size:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	-webkit-border-radius: 30px;
    -moz-border-radius: 10px;
    border-radius: 10px;  
	width:95%;

}

form input{
	width:350px;
	height:50px;
	font-size:18px;
}

#centralHome{
	position:absolute;
	width:600px;;
	top:240px;
	left:50%;
	margin-left:-300px;
}

#containerLetters{
	background-color:transparent;
	width:600px;
	height:auto;
	top:80px;
	margin-left:150px;
	min-height:400px;
	position:relative;
}

#centralSearch{
	background-color:transparent;
	width:354px;
	height:auto;
	left:50%;
	top:100px;
	margin-left:-177px;;
	position:absolute;
}

#centralSearch form input:hover{
	background-color:#fff;
}
#centralSearch form input{
	-webkit-border-radius: 30px;
    -moz-border-radius: 10px;
	border-radius:10px;
	background-color:#f3f2f2;
}

#socialNetworks{
	background-color:transparent;
	width:auto;
	height:auto;
	position:relative;
}

#topo a{
	right:0px;
	position:absolute;
}

#videoContainer{
	position:fixed;
	top:94px;
	right:30px;
	width:auto;
	height:auto;
	border-bottom:2px solid #999999;
}

#formBox{
	width:354px;
	height:200px;
	left:50%;
	font-size:18px;
	
	margin-left:-177px;
	top:150px;
	position:absolute;
}

#topo img{
	left:50%;
	margin-left:-100px;
	position:absolute;
	width:150px;
	margin-top:10px;

}
#menu{
	background-color:##F7F7F7;
	width:600px;
	margin:0 auto;
	height:30px;
	border-bottom:2px solid #999999;
	border-left:2px solid #999999;
	border-right:2px solid #999999;
	
}

#menu a{
	color:#333333;
	text-decoration:none;
	font-size:14px;
	margin-left:10%;
	
}

#menu a:hover{
	color:#999999;
	font-size:14px;
}

